@model MickesProjektSite.Models.ProjectDetail
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Todo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Todo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectTitle)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>
                Namn
            </th>
            <th>
                Telefon
            </th>
        </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Person.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Person.PhoneNr)
                </td>
            </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectDetailsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
